ion-modal {
    --height: fit-content;
    --width: 95%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(0, 0, 0, .9);
  }


.inputModal {
    background: rgba(127, 127, 139, 0.2);
    color: rgba(0, 0, 0, 0.5);
}

.textModal {
    position: fixed;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.itemModal {
    border-radius: 10px;
}